#new
  = ra_form_for @object, url: new_path(model_name: current_model.to_param), as: current_model.param_key, html: { multipart: true, class: "form-horizontal", data: { title: @page_name } } do |form|
    = form.generate(action: :new)
