.navbar {
  @extend .navbar-dark;
  @extend .bg-dark;
}

.sidebar-nav {
  @extend .bg-dark;

  .dropdown-header {
    @extend .text-light;
    @extend .p-1;
    @extend .w-100;
  }

  .nav-link {
    @extend .pl-2;
    @extend .pr-1;
    @extend .w-100;
    @extend .rounded-0;

    a {
      @extend .pl-0;
      @extend .pr-0;

      @extend .text-info;
      text-decoration: none;
      display: block;
    }

    &:hover {
      @extend .bg-warning;

      a {
        @extend .text-primary;
      }
    }

    &.active {
      @extend .bg-light;
    }
  }
}

.radmin.table {
  thead {
    @extend .thead-dark;
  }
}

.total-count {
  @extend .bg-dark;
  @extend .text-light;
  @extend .font-weight-bold;
  @extend .row;
  @extend .pl-2;
  margin-left: -8px;
}
