.navbar {
  @extend .navbar-dark;
  @extend .bg-dark;
}

.sidebar-nav {
  @extend .bg-dark;

  .dropdown-header {
    @extend .text-light;
    @extend .p-1;
    @extend .w-100;
  }

  .nav-link {
    @extend .pl-2;
    @extend .pr-1;
    @extend .w-100;
    @extend .rounded-0;

    a {
      @extend .pl-0;
      @extend .pr-0;

      @extend .text-info;
      text-decoration: none;
      display: block;
    }

    &:hover {
      @extend .bg-warning;

      a {
        @extend .text-primary;
      }
    }

    &.active {
      @extend .bg-light;
    }
  }
}

.radmin.table {
  thead {
    @extend .thead-dark;
  }

  .last.links {
    .nav-item {
      .nav-link {
        border: 1px solid #dee2e6;
        @extend .rounded-circle;

        @extend .h5;
        @extend .p-2;
        @extend .text-center;
      }
    }

    .inline-nav-item {
      display: inline-block;

      .nav-link {
        @extend .h5;
        @extend .p-1;
        @extend .text-center;
      }
    }
  }
}

.total-count {
  @extend .bg-dark;
  @extend .text-light;
  @extend .font-weight-bold;
  @extend .row;
  @extend .pl-2;
  margin-left: -8px;
}

.dropdown-item:hover {
  @extend .text-white;
  @extend .bg-info;
}

#list .links ul {
  margin: 0;
}

.filter {
  @extend .mb-1;

  a {
    text-decoration: none;
  }

  .filter_select_style {
    @extend .border;
    @extend .border-dark;
  }

  .dropdown-item.active {
    @extend .bg-warning;
    @extend .text-dark;
  }

  .dropdown-item:hover {
    @extend .bg-info;
  }

  .remove_list_filter {
    @extend .m-2;
    @extend .d-inline-block;
  }

  .filter_label {
    @extend .bg-warning;
    @extend .p-2;
    @extend .rounded;
    @extend .mr-1;
    @extend .text-capitalize;
    @extend .text-dark;

    i {
      @extend .fa;
      @extend .fa-trash;
    }


    &:hover {
      @extend .bg-primary;
      @extend .text-white;
    }
  }
}

// TOOLTIP

.bs-tooltip-top .arrow:before {
  border-top-color: $tooltip-bg!important;
}

.bs-tooltip-right .arrow:before {
  border-right-color: $tooltip-bg!important;
}

.bs-tooltip-bottom .arrow:before {
  border-bottom-color: $tooltip-bg!important;
}

.bs-tooltip-left .arrow:before {
  border-left-color: $tooltip-bg!important;
}

.tooltip-inner {
  //color: #000000;
  font-weight: bold;
  background-color: $tooltip-bg;
}
