%a.navbar-brand{href: dashboard_path}
  - if Radmin::Config.brand_icon_url.present?
    %img.d-inline-block.align-top{ alt: "", height: '30', width: '30', src: image_url(Radmin::Config.brand_icon_url) }
  - if Radmin::Config.brand_text.present?
    = Radmin::Config.brand_text

%button.navbar-toggler{"aria-controls" => "secondary_navigation", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#secondary_navigation", "data-toggle" => "collapse", type: 'button' }
  %span.navbar-toggler-icon

#secondary_navigation.collapse.navbar-collapse.justify-content-end
  = render partial: 'layouts/radmin/secondary_navigation'
