.jtable {
  .jtable-head, .jtable-block {
    display: flex;

    .jtable-panel {
      flex-grow: 1;
    }

    .jtable-center {
      overflow-x: hidden;
      flex-grow: 9999;
    }
  }

  .jtable-block {
    thead.hidden {
      display: none;
    }

    .jtable-center {
      overflow-x: scroll;
    }
  }

  .jtable-head.jlocked {
    position: absolute;
    z-index: -1;

    &.sticky {
      z-index: 100;
      top: -1px;
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .jtable-left {
    border-right: 2px solid #aaa;
  }

  .jtable-right {
    border-left: 2px solid #aaa;
  }

  .jtable-center td {
    border-right: 1px solid #ddd;
  }

  .jtable-center tr td:last-child {
      border-right: none;
  }

  table {
    margin-bottom: 0;

    .fake {
      height: 0;
      min-height: 0;

      td {
        padding: 0;
        margin: 0;
      }
    }
  }

  margin-bottom: 1rem;
}
