.jtable {
  .jtable-head, .jtable-block {
    display: flex;

    .jtable-panel {
      flex-grow: 1;
    }

    .jtable-center {
      overflow-x: hidden;
      flex-grow: 9999;
    }
  }

  .jtable-block {
    .jtable-center {
      overflow-x: scroll;
    }
  }

  .jtable-head.jlocked {
    position: absolute;
    z-index: -1;

    &.sticky {
      z-index: 100;
      top: -1px;
      position: -webkit-sticky;
      position: sticky;
    }
  }

  table {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}
