.jtable {
  display: flex;

  .jtable-panel {
    flex-grow: 1;
  }

  .jtable-center {
    flex-grow: 9999;
    overflow-x: scroll;
  }

  table {
    margin-bottom: 0;
  }

  margin-bottom: 1rem;
}
